extensions-android/ivy*.jar
extensions-android/apache-ivy*
extensions-android/xwalk-echo-extension-src/.ant-targets-build.xml
extensions-android/xwalk-echo-extension-src/build
extensions-android/xwalk-echo-extension-src/lib
extensions-android/xwalk-echo-extension-src/tools
extensions-android/xwalk-echo-extension-src/xwalk-echo-extension
