body {
  font-size: 1.5em;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  width: 100%;
  text-align: center;
  margin: 0.5em 0;
}

header {
  border-bottom: 0.25em solid black;
}

button {
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  display: block;
  margin-top: 0.25em;
}

p {
  border-bottom: 0.25em dashed #777;
  padding: 0.5em 0;
  margin: 0 0.5em;
}
