body {
    background-color: #f0f0f0;
    border: 2.5ex solid #fdfdf0;
    padding: 2.5ex;
    margin: 0;
    line-height: 1.75rem;
    font-size: 1.25rem;
}

textarea {
    width: 100%;
    height: 50%;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

button {
    border-radius: 5px;
    color: black;
    background: hsl(23, 75%, 56%);
    border: 2px solid hsl(23, 57%, 30%);
    padding: 1ex 2ex;
    margin: 0.5em;
    min-width: 20ex;
}