body {
  margin-left: 0;
}

.center {
  margin: 0px auto;
}

.elem-center {
  text-align: center;
}

.main {
  width: 600px;
  -webkit-transform-origin: 0 0;
}

.fps {
  position:absolute;
  top:380px;
  color:white;
  font-weight:bold;
  font-size:40pt;
  width:600px;
}

.simd {
  position:absolute;
  top:80px;
  color:white;
  font-weight:bold;
  font-size:40pt;
  width: 600px;
}

.author {
  font-size:6pt;
  position:absolute;
  bottom: -15px;
  right:0;
}

.btn:hover, .btn:focus, .btn:active, .btn.active {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #428bca;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  width: 145px;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-user-select: none;
}

.btn-narrow {
  width: 70px;
}

.btn-disable,.btn-disable:hover,.btn-disable:active,.btn-disable:focus {
  background-color: #808080;
  border-color: #808080;
}

button {
  -webkit-appearance: button;
  font: -webkit-small-control;
  font-family: inherit;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
