.top-space {
  margin-top: 5px;
}

.nopadding {
  padding-left:0px;
  padding-right:0px;
}

.info-font-size {
  font-size:3em;
}

.fps {
  position:absolute;
  top:100px;
  color:white;
  font-weight:bold;
}

.simd {
  position:absolute;
  top:50px;
  color:white;
  font-weight:bold;
}
